<div class="navbar-component">
  <div class="navbar-component__menu-btn">
    <button mat-icon-button (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="navbar-component__logo">
    <mat-icon class="navbar-component__user-icon">live_tv</mat-icon>
  </div>

  <div class="navbar-component__movie-types">
    <button mat-raised-button routerLinkActive="active"
            [routerLink]="['/system', MovieTypes.popular]">Popular
    </button>

    <button mat-raised-button routerLinkActive="active"
            [routerLink]="['/system', MovieTypes.topRated]">Top rated
    </button>

    <button mat-raised-button routerLinkActive="active"
            [routerLink]="['/system', MovieTypes.nowPlaying]">Now playing
    </button>

    <button mat-raised-button routerLinkActive="active"
            [routerLink]="['/system', MovieTypes.upcoming]">Upcoming
    </button>
  </div>

  <div class="navbar-component__user-icon-wrapper">
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</div>
