$mobileTopBorderPx:693px;
$singleCardInRow:469px;

.drawer {
  width: 100%;
  min-height: 100vh;
  position: fixed;

  mat-drawer{
    border: none;

    mf-sidebar {
      overflow-y: hidden;
    }
  }

  .sidenav {
    width: 170px;
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
  }
}
