.drawer {
  width: 100%;
  min-height: 100vh;

  .sidenav {
    width: 230px;
  }

  .movies-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-around;
  }
}
